.pie{
    display: flex;
    justify-content: center;
    background-color: #5f77ef;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    color: white;
    bottom: 0;
    
}